---
import { allTags, SpanishTags } from "../../../content/config";
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import PostItem from "../../../components/Posts/item.astro";
import Back from "../../../components/Back.astro";
import Base from "../../../layouts/Base.astro";

export async function getStaticPaths() {
  let posts = await getCollection("blog");
  let paths: any[] = [];

  allTags.forEach((tag) => {
    let ps = posts
      .filter((post) => post.data.tags.includes(tag))
      .sort(
        (a: any, b: any) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
      );
    const enPs = ps.filter((p: any) => p.slug.includes("en"));
    const esPs = ps.filter((p: any) => p.slug.includes("en"));

    paths.push({ params: { tag, lang: "en" }, props: { ps: enPs } });
    paths.push({ params: { tag, lang: "es" }, props: { ps: esPs } });
  });

  return paths;
}

const params = Astro.params;
const tag = params.tag as string;
const { ps } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
// convert - into spaces and put the first letter in uppercase
let tagName = tag
  .split("-")
  .join(" ")
  .split(" ")
  .map((s: string) => s.charAt(0).toUpperCase() + s.substring(1))
  .join(" ") as string;
if (lang == "es") {
  tagName = (SpanishTags[tag as keyof typeof SpanishTags] as string) || tagName;
}
---

<Base>
  <div
    class="flex flex-col lg:flex-row items-start w-full px-4 sm:px-28 md:px-32 lg:px-72 pb-6 overflow-hidden"
  >
    <section
      class="flex flex-col items-start justify-start h-full w-full lg:pr-12 lg:px-6"
    >
      <Back />
      <h2 class="font-bold text-4xl mb-4 select-none">
        {t("articles:category").replace("{category}", "")}
        <b class="text-brand-primary" transition:name={`tag-${tag}`}
          >{tagName}</b
        >
      </h2>
      <ul class="flex flex-col items-start gap-4 w-full mb-8">
        {ps.map((post: any) => <PostItem post={post} />)}
      </ul>
    </section>
  </div>
</Base>
