---
import { allCategories } from "../../content/config";
import BlogPost from "../../layouts/BlogPost.astro";

export async function getStaticPaths() {
  const paths = allCategories.map((category) => {
    return { params: { category } };
  });

  /*pages.map((page) => {
    const [lang, ...slug] = page.slug.split("/");
    return { params: { lang, slug: slug.join("/") || undefined }, props: page };
  });*/

  return paths;
}

const { category } = Astro.params;
const page = Astro.props;
---

<p>a</p>
