---
import SocialLinks from "../SocialLinks.astro";
---

<nav
  class="flex flex-row justify-between items-center w-full h-fit border-b-2 border-theme-border px-4 py-2"
>
  <a href="/" class="flex flex-row items-center gap-1">
    <img
      src="/logo.webp"
      width="48"
      height="48"
      class="h-12 w-12"
      alt="mrlol logo"
    />
    <span class="lg:visible hidden">mrlol.me</span>
  </a>
  <SocialLinks />
</nav>
