---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="flex flex-col items-start gap-0 lg:gap-2 w-full lg:w-[40%] mt-12 lg:mt-0"
>
  <h2 class="font-bold text-4xl mb-1 lg:mb-4">{t("about")}</h2>
  <p class="text-sm text-justify">{t("about:content")}</p>
  <section class="flex flex-col items-start gap-2">
    <h3 class="font-bold text-2xl">{t("about:skills")}</h3>
    <img
      src="https://skillicons.dev/icons?i=js,ts,vercel,vscode,nodejs,nextjs,react,nuxtjs,tailwind,md,discord,bots,git,github,githubactions,linux,docker,nginx,html,css,sass,cloudflare,mongodb,mysql,postgres,redis,sqlite,supabase,sequelize,rabbitmq,astro,express,bash,powershell,electron,bootstrap,ps&theme=dark&perline=8"
      draggable="false"
      alt="Skills list"
      width="100%"
      height="auto"
      loading="lazy"
    />
  </section>
</section>
