---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a
  href=`/${lang}`
  class="text-theme-foreground/[.6] dark:text-dark-foreground/[.6] text-sm transition duration-300 hover:text-theme-foreground dark:hover:text-dark-foreground flex flex-row items-center gap-1"
>
  <!--?xml version="1.0" encoding="UTF-8"?-->
  <!--?xml version="1.0" encoding="UTF-8"?-->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="12px"
    height="12px"
    viewBox="0 0 12 12"
    version="1.1"
  >
    <g id="surface1">
      <path
        style=" stroke:none;fill-rule:nonzero;fill:currentColor;fill-opacity:1;"
        d="M 0.0664062 5.992188 L 4.667969 11.265625 L 6.550781 9.621094 L 3.386719 5.992188 L 6.550781 2.363281 L 4.667969 0.71875 Z M 0.0664062 5.992188 "
      ></path>
      <path
        style=" stroke:none;fill-rule:nonzero;fill:currentColor;fill-opacity:1;"
        d="M 5.433594 5.992188 L 10.035156 11.265625 L 11.921875 9.621094 L 8.753906 5.992188 L 11.921875 2.363281 L 10.035156 0.71875 Z M 5.433594 5.992188 "
      ></path>
    </g>
  </svg>

  {t("articles:back")}
</a>
