---
import FormattedDate from "./FormattedDate.astro";

const post = Astro.props.post;
---

<li class="w-full">
  <a
    href={`/${post.slug}`}
    class="flex flex-col items-start w-full rounded-lg px-2 py-1 bg-theme-border/[.8] transition duration-300 hover:bg-theme-border cursor-pointer"
  >
    <h3 class="mb-0 font-semibold text-2xl">{post.data.title}</h3>
    <p class="date mb-0 w-fit p-0">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>
