---
import FormattedDate from "./FormattedDate.astro";

const post = Astro.props.post;
---

<li class="w-full">
  <a
    href={`/${post.slug}`}
    class="flex flex-col items-start w-full rounded-lg px-2 py-1 bg-theme-border/[.8] transition duration-300 hover:bg-theme-border cursor-pointer"
  >
    <h3 class="mb-0 font-semibold text-2xl flex flex-row items-center">
      {post.data.title}
      {
        post.data.tags.includes("draft") && (
          <div class="inline-block ml-2 px-2 py-1 text-xs font-semibold text-black bg-red-500 rounded-full">
            Draft
          </div>
        )
      }
    </h3>
    <p class="date mb-0 w-fit p-0">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>
