---
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const route = Astro.url.pathname
  .split("/")
  .filter((x) => x != lang)
  .join("/")
  // remove first / if exists
  .replace(/^\//, "");
---

<div
  class="social-links flex flex-row items-center gap-4 text-brand-primary/[.6] h-full"
>
  <a href={`/${lang == "es" ? "" : "es"}/${route}`}>
    <img
      src={lang == "es" ? "/uk.svg" : "/es.svg"}
      alt={lang == "es" ? "English flag" : "Spanish flag"}
      width="32px"
      height="21px"
      class="rounded-sm bg-white border-1 border-brand-primary transition duration-200 hover:border-brand-primary/[.6]"
    />
  </a>

  <a
    href="https://twitter.com/mrloldev"
    target="_blank"
    class="text-current hover:text-brand-primary transition duration-200"
  >
    <span class="sr-only">Follow me on twitter</span>
    <i class="fa-brands fa-twitter"></i>
  </a>
  <a
    href="https://github.com/mrloldev"
    target="_blank"
    class="text-current hover:text-brand-primary transition duration-200"
  >
    <span class="sr-only">Follow me on Github</span>
    <i class="fa-brands fa-github"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/leonardo-ollero/"
    target="_blank"
    class="text-current hover:text-brand-primary transition duration-200"
  >
    <span class="sr-only">Follow me on LinkedIn</span>
    <i class="fa-brands fa-linkedin"></i>
  </a>
</div>
