<div class="social-links flex flex-row items-center gap-4 text-brand-primary/[.6]">
    <a href="https://twitter.com/mrloldev" target="_blank" class="text-current hover:text-brand-primary transition duration-200">
        <span class="sr-only">Follow me on twitter</span>
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://github.com/mrloldev" target="_blank" class="text-current hover:text-brand-primary transition duration-200">
        <span class="sr-only">Follow me on Github</span>
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/leonardo-ollero/" target="_blank" class="text-current hover:text-brand-primary transition duration-200">
        <span class="sr-only">Follow me on LinkedIn</span>
        <i class="fa-brands fa-linkedin"></i>
    </a>
</div>