---
import { getLangFromUrl } from "../i18n/utils";
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<div class="grid grid-cols-2 lg:grid-cols-3 items-center gap-3">
  {
    tags.map((x) => (
      <a href={`/${lang}/tags/${x}`}>
        <div class="rounded-full border text-sm  text-center border-white px-4 py-2">
          {x}
        </div>
      </a>
    ))
  }
</div>
